.course-card {
    display: flex;
    margin-bottom: 1rem;
    position: relative;
}

.course-text {
    flex: 0 0 60%;
    width: 100%;
    max-width: 60%;
    padding: 1rem 1rem 2.5rem 1.5rem;
}

.course-img {
    flex: 0 0 auto;
}

.course-card {
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
}

.courses .col:nth-child(1) .course-card {
    background: #FFE6CB;
}

.courses .col:nth-child(2) .course-card {
    background: #DFF8FF;
}

.courses .col:nth-child(3) .course-card {
    background: #FECECF;
}

.courses .col:nth-child(4) .course-card {
    background: #DFEBFF;
}

.course-time {
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    position: absolute;
    left: 1.5rem;
    bottom: 1rem;
}

.course-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.read-more-icon {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 6rem;
    height: 6rem;
    background: var(--main);
    border-top-left-radius: 2.5rem;
    opacity: 0;
    transition: 250ms ease-in;
    transform: translate(6rem, 6rem);
    transition-property: opacity, transform;
    user-select: none;
    flex-direction: column;
}

.read-more-icon span {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
}

.course-card:hover .read-more-icon {
    opacity: 1;
    transform: translate(0rem, 0rem);
}

.read-more-icon img {
    max-width: 3rem;
}

.video-container {
    position: relative;
    overflow: hidden;
    height: 350px;
    border-radius: 1rem;
}

.video-prew {
    position: absolute;
    top: 0%;
    left: 0;
    transform: scale(1.2);
    width: 100%;
    transition: 200ms ease-in;
    transition-property: transform;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
}

.play-video {
    background: transparent;
    outline: none;
    border: none;
    transition: 200ms ease-in;
    transition-property: transform;
}

.play-video:hover {
    transform: scale(1.2);
}

.video-container:hover .video-prew {
    transform: scale(1);
}

.feature-img {
    flex: 0 0 1.5rem;
    max-width: 1.5rem;
    margin-right: 0.75rem;
}

.feature-text {
    font-weight: 600;
    line-height: 1.3;
    max-width: 220px;
}

.features {
    margin-top: 2rem;
}

.leaning-button {
    font-size: 1.25rem;
    outline: none;
    background: transparent;
    padding: 0;
    font-weight: 600;
    border: none;
    transition: 200ms ease-in;
    transition-property: color, opacity;
}

.leaning-button:hover {
    opacity: 0.5;
}

ul.books-list li {
    position: relative;
}
ul.books-list li + li{
	margin-top:0.35rem
}
ul.books-list li a{
	border-bottom:1px solid;
	transition:150ms ease-in;
	transition-property:opacity;
}
ul.books-list li a:hover{
	opacity:0.5;
}
ul.books-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 1.65rem;
}

ul.books-list li::before {
    content: "—";
    position: absolute;
    left: -25px;
    top: 0px;
}

.author {
    font-weight: 600;
}

.hidden-list {
    display: none;
}

.leaning-el {
    margin-bottom: 0.5rem;
}

.leaning-el.active-el .leaning-button {
    color: var(--main);
}

.leaning-el.active-el .leaning-button .icon svg {
    transform: rotate(90deg);
    stroke: var(--main);
}

.books-img img {
    width: 100%;
    transform: rotate(4deg);
}

.leaning-panel {
    margin-top: 1.5rem;
}

.persone-name {
    margin-bottom: 0rem;
    font-weight: 700;
	white-space:nowrap;
}

.persone-role,
.storu-descr {
    color: (--gray);
    font-size: 0.8rem;
}

.persone-img {
    margin-right: 1.5rem;
    position: relative;
    flex: 0 0 4rem;
}

.persone-photo,
.persone-icon {
    width: 3rem;
    height: 3rem;
}

.persone-photo {
    overflow: hidden;
    border-radius: 3rem;
}

.persone-icon {
    position: absolute;
    top: 0;
    left: 2rem;
}

.read-full {
    font-weight: 600;
    color: var(--main);
    transition: 200ms ease-in;
    transition-property: color;
}

.read-full:hover {
    color: #460173;
}

.read-full:hover .icon svg path {
    stroke: #460173;
}

.slide-head {
    margin-bottom: 1rem;
}

.slider-slide {
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid #ececec;
    margin: 0 0.5rem;
}

.has-gradient {
    position: relative;
}

.has-gradient::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #FFFFFF 2.07%, rgba(255, 255, 255, 0) 87.08%);
}

.slider-content {
    margin: 0 -0.5rem;
    position: relative;
}

.slider-button {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: #F5F6FA;
    transition: 200ms ease-in;
    transition-property: background;
}

.slider-button:hover {
    background: var(--main);
}

.slider-button svg {
    stroke: var(--main);
}

.slider-button:hover svg {
    stroke: #fff;
}

.slider-buttons {
    margin-top: 1rem;
}

.slider-button+.slider-button {
    margin-left: 0.25rem;
}

.cta-content .text {
    margin-top: 4rem;
}

.color-block {
    background: #F7EAFF;
    border-radius: 0.75rem;
    position: relative;
}

.outline-logo {
    position: absolute;
    height: 100%;
    right: 5%;
    top: 0;
    width: 50%;
    overflow: hidden;
}

.outline-logo svg {
    width: 100%;
    height: auto;
    transform: translate(0, -15%);
    stroke: #E2B1FF;
}

@media screen and (max-width:768px) {
    .cta-content {
        padding: 2rem 0rem 3rem 2rem;
    }
    .cta-content .text {
        margin-top: 1rem;
    }
    .outline-logo {
        width: 100%;
        right: 0;
        opacity: 0.3;
        bottom: 0;
        top: auto;
    }
    .outline-logo svg {
        transform: translate(0, -7.5%);
    }
}

@media screen and (max-width:714px) {
    .video-container {
        height: 200px;
    }
}

@media screen and (max-width:480px) {
    .video-container {
        height: 180px;
    }
    .course-text {
        padding: 1rem 0.75rem 1rem 1rem;
        position: relative;
        z-index: 10;
    }
    .course-time {
        left: 1rem;
    }
    .course-text .text {
        margin-bottom: 0;
    }
    .course-img {
        transform: translate(-30px, 20px) scale(0.95);
    }
    .outline-logo {
        opacity: 0.5;
    }
    .cta-content {
        padding: 1rem 0rem 2rem 0rem;
    }
    .cta {
        background: #F7EAFF;
    }
    .outline-logo {
        overflow: unset;
        height: auto;
    }
}